<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h1 class="display-5 fw-bold text-body-emphasis">
            {{ getTrans(initial.title) }} Sortable Manager
        </h1>
    </div>

    <div>
        {% if actions is not empty %}
            <div class="d-flex">
                {% for action in actions.header %}
                    {% set actionType = action.button.action.type|default('button') %}

                    {% if actionType == 'button' %}
                        <!-- Bouton -->
                        <button
                            type="button"
                            class="btn btn-{{ action.button.color|default('primary') }} mx-1 d-flex fw-bold align-items-center"
                        {% for key, value in action.button.action.attributs ?? {} %}
                            {{ key }}="{{ include(template_from_string(value))|raw }}"
                        {% endfor %}
                        >
                        {{ getTrans(action.button) }}
                        {% if action.button.icon is defined %}
                            <twig:ux:icon
                                name="{{ action.button.icon|default('fa6-solid:plus') }}"
                                width="16"
                                height="16"
                                class="mx-2"
                            />
                        {% endif %}
                        </button>

                    {% elseif actionType == 'form' %}
                        <!-- Formulaire -->
                        <form
                            method="{{ action.button.action.method|default('post') }}"
                            action="{{ path(action.button.action.pathName, action.button.action.params|default({})) }}"
                            class="mx-1"
                        >
                            {% for key, value in action.button.action.hiddenFields ?? {} %}
                                <input type="hidden" name="{{ key }}" value="{{ value }}">
                            {% endfor %}
                            <button
                                type="submit"
                                class="btn btn-{{ action.button.color|default('primary') }} d-flex fw-bold align-items-center"
                            >
                                {{ getTrans(action.button) }}
                                {% if action.button.icon is defined %}
                                    <twig:ux:icon
                                        name="{{ action.button.icon|default('fa6-solid:plus') }}"
                                        width="16"
                                        height="16"
                                        class="mx-2"
                                    />
                                {% endif %}
                            </button>
                        </form>

                    {% elseif actionType == 'a' %}
                        <!-- Lien -->
                        <a
                            href="{{ path(action.button.action.pathName, action.button.action.params|default({})) }}"
                            class="btn btn-{{ action.button.color|default('primary') }} mx-1 d-flex fw-bold align-items-center"
                        {% for key, value in action.button.action.attributs ?? {} %}
                            {{ key }}="{{ include(template_from_string(value))|raw }}"
                        {% endfor %}
                        >
                        {{ getTrans(action.button) }}
                        {% if action.button.icon is defined %}
                            <twig:ux:icon
                                name="{{ action.button.icon|default('fa6-solid:plus') }}"
                                width="16"
                                height="16"
                                class="mx-2"
                            />
                        {% endif %}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
